*.gch

# Executables
*.exe
*.out
*.app

# CMake yucky
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# Eco system stuff
*.creature
*.grass

# Local
.vscode/*
build/*
struktur
go